.section-3{
    width: 90%;
    margin: 100px auto 70px;
    position: relative;
}
.section-3 img{
    width:100%;
}

.sec-3-paste{
   width:30%;
   background-color: white;
   position: absolute;
   top:50%;
   left:50px;
   transform: translateY(-50%);
   padding: 11px 45px 45px;
   font-size: 16px;
   z-index: 9;
}
#sec-3-h2{
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 500;
}

.sec-3-paste a:hover{
    text-decoration: none;
}

#sec-3-button{
    width:92px;
    height:40px;
    background-color:#0067b8 ;
    border-radius: 2px;
    color: white;
    line-height: 40px;
    text-align: center;
    font-family: 16px;
    font-weight: 600;
}
#sec-3-button:hover{
    background-color:rgb(68, 99, 142);
}

@media(max-width:1084px){
    .section-3{
    margin-bottom: 200px;
    }
    .sec-3-paste{
        width:96%;
        background-color: white;
        position: absolute;
        transform: none;
        top:90%;
        left:2%;
        padding: 11px 40px 40px;
        font-size: 16px;
        box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0,0,0,.13), 0 0.0625rem 0.125rem 0 rgba(0,0,0,.11);
        /* margin-bottom:90% ; */
        }
}

 @media(max-width:860px){
    
    .section-3{
    margin-bottom: 250px;
    }
  
    .sec-3-paste{
        width:96%;
        background-color: white;
        position: absolute;
        top:99%;
        transform: none;
        /* bottom:0%; */
        left:2%;
        /* padding: 11px 40px 40px; */
        font-size: 16px;
        box-shadow: none;
        }
    
}